<h1>
    Basic Form Validation
</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="bookingForm">
    <p>
        <input  formControlName="navn" type="text" placeholder="angiv dit navn ..."    required>
    </p>
    <p>
        <input  formControlName="email" type="email" placeholder="angiv email"         required>
    </p>
    <p>
        <input  formControlName="adresse" type="text" placeholder="angiv privat adresse" required>
    </p>
    
    
    <p>
        <button type="submit" [disabled]="!bookingForm.valid">Submit</button>
    </p>
    
</form>

<p>
    Form Value: {{ bookingForm.value | json }}
</p>
  
  
<p>
    Form Status: {{ bookingForm.status }}
</p>

<hr>

<p>
    To learn more about Form Validation: <br> <br>
    <a href="https://angular.io/guide/form-validation"> 
        - Angular Form Validation
    </a>

</p>
<p>
    <a href="https://stackblitz.com/edit/angular-v8-formcontrol" target="_blank" rel="noopener noreferrer">
        - Proof Of Concept DEMO
    </a>
</p>

